.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

/* ACTUAL CSS */
.logo {
  width: 40px;
  height: 40px;
  z-index: 10;
}

.navLinks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  font-family: 'Barlow Condensed', sans-serif;
}
.highlight {
  font-weight: 700;
}
.highlightLarge {
  font-weight: 700;
  margin-right: 11px;
  display: none;
}
.burgerNav {
  position: absolute;
  height: 100%;
  width: 254px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}
.closeLogo {
  margin: 34px 26.5px 65px 208.5px;
}

.horizontalNav {
  background: rgba(255, 255, 255, 0.2);
  /* backdrop-filter: blur(40.7742px); */
  padding: 40px 48px 0 48px;
  display: none;
}
.horizontalNav ul {
  padding-left: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  font-family: 'Barlow Condensed', sans-serif;
  display: flex;
  place-content: center;
  gap: 40px;
  margin: 0;
  backdrop-filter: none;
}
.horizontalNav ul a {
  padding-bottom: 37px;
}
.hr {
  display: none;
}

@media screen and (min-width: 768px) {
  .horizontalNav {
    display: block;
  }
  .mobileNav {
    display: none;
  }
  .header {
    padding: 0;
    padding-left: 39px;
  }
  .logo {
    width: 48px;
    height: 48px;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    padding-left: 55px;
    padding-top: 50px;
  }
  .horizontalNav {
    padding: 39px 165px 0 123px;
  }
  .horizontalNav ul {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    gap: 50px;
  }
  .hr {
    display: block;
    height: 1px;
    background: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.25;
    width: 35%;
    position: absolute;
    right: 770px;
    top: 100px;
    z-index: 11;
  }
  .highlightLarge {
    display: inline;
  }
}
