@import 'reset.css';

/* <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
</style> */
html{
    --primary-color: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --baby-blue: hsl(186, 44%, 69%);
    --darker-baby-blue: hsl(186, 40%, 51%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --orange: #B56727
}
body {
    background-color:  var(--light-grayish-cyan);
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    margin: 1rem 0;
}
.formInputs{
    font-size: 24px;
    padding-left: 50px;
}
.title{
    letter-spacing: 8px;
    font-size: 22px;
    font-weight: bold;
    color: var(--dark-grayish-cyan);
    text-align: center;
}

.backgroundBox{
    background-color: var(--white);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.tipContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.secDesc {
    color: var(--dark-grayish-cyan);
    margin-bottom: 5px;
}

.selectTip {
    margin-top: 2rem;
    margin-bottom: 0.8rem;
}
.numOfPoeple{
    margin-top: 1.5rem;
    margin-bottom: 0.3rem;
}
.input-icon{
    position: absolute;
    padding: 0.8rem;
}
.btn{
    color: var(--very-light-grayish-cyan);
    background-color: var(--very-dark-cyan);
    font-size: 24px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    padding: 0.3rem 0;
    line-height: normal;
}

.inputField:focus{
    outline-color: var(--darker-baby-blue);
}
.inputCustomPercent:focus{
    outline-color: var(--darker-baby-blue)
}
.resultsContainer {
    background-color: var(--very-dark-cyan);
    border-radius: 15px;
    padding: 2rem 1.2rem 1.2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
}
.resultsContainerTitle{
    color: var(--white);
    margin-bottom: 0;
}
.resetBtnDisabled {
    background-color: hsla(172, 67%, 45%, 40%);
    color: rgb(0,0,0,0.1);
}
.resetBtn {
    text-transform: uppercase;
    font-weight: 700;
    grid-column: 1 / span 2;
    font-size: 20px;
}
.resetBtnActive {
    background-color: var(--primary-color);
    color: var(--very-dark-cyan);
}
.person {
    color: var(--grayish-cyan);
}
.money {
    text-align: right;
    font-size: 34px;
    line-height: 1;
    margin-bottom: 0;
    color: var(--primary-color);
}
.inputField{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    background-color: var(--very-light-grayish-cyan);
    border: none;
    width: 100%;
    text-align: right;
    color: var(--very-dark-cyan);
    line-height: 1;
    padding: 0.2rem 1rem;
    font-size: 24px;
    border-radius: 5px;
}
.imgContainer{
    background-color: var(--very-light-grayish-cyan);
    height: 24px;
}
.paddingForPair{
    padding-left: 1rem;
}
.flexContainer{
    display: flex;
    justify-content: space-between;
}
.inputField::placeholder{
    color: var(--very-dark-cyan);
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}
.inputCustomPercent {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: var(--dark-grayish-cyan);
}
.inputCustomPercent::placeholder{
    color: var(--dark-grayish-cyan);
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 24px;
}
.activePercentBtn{
    background-color: var(--primary-color);
    color: var(--very-dark-cyan);
}
.cantBeZero{
    color: var(--orange);
}
.errorOutline{
    border: 2px solid var(--orange);
}
.errorOutline:focus{
    outline-color: var(--orange);
}
.errorOutline:active{
    outline-color: var(--orange);
}
@media screen and (min-width: 1440px) {
    .backgroundBox{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .tipContainer {
        grid-template-columns: repeat(3, 1fr);
        gap: 0.7rem;
    }
    .resultsContainer{
        margin-top: 0;
        padding: 2rem;
    }
    .title{
        margin-top: 6rem;
        margin-bottom: 4rem;
    }
    .resetBtn{
        height: 65%;
        align-self: flex-end;
    }
    .h50{
        height: 50%;
    }
    .mt{
        margin-top: 1.3rem;
    }
    .mb{
        margin-bottom: 1.3rem;
    }
    .money{
        font-size: 40px;
    }
    .inputCustomPercent::placeholder{
        font-size: 21px;
    }
    .btnPercent:hover{
        background-color: var(--baby-blue);
        color: var(--very-dark-cyan);
    }
}