.span {
  opacity: 0.25;
  margin-right: 8px;
}
.image {
  margin-top: 16px;
  margin-bottom: 34px;
  height: 170px;
}
.control {
  margin-bottom: 26px;
  margin-top: 0;
  display: flex;
  gap: 16px;
  place-content: center;
  padding-left: 0;
  list-style-type: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1px;
  font-family: 'Bellefair', serif;
}
.control .disabled {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  mix-blend-mode: normal;
  color: white;
  border: 1px solid rgb(255, 255, 255, 0.25);
}
.control .disabled:hover {
  border: 1px solid white;
}
.control .current:hover {
  border: 1px solid black;
}
.control .current {
  background-color: white;
  color: #0b0d17;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-content: center;
}
.paragraph {
  color: var(--light-blue);
  font-family: 'Barlow', sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  padding: 0 24px;
  margin-bottom: 0;
}
.name {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
}
.position {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  font-family: 'Barlow Condensed', sans-serif;
  margin-bottom: 9px;
  text-transform: uppercase;
  color: var(--light-blue);
}
