* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--blue);
  color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

/* input,
textarea,
select {
  font-size: 16px;
  padding: 0.3em 0.8em;
  border-radius: 4px;
  border: 1px solid #777;
  display: block;
  max-width: 300px;
}
textarea {
  min-height: 5rem;
  min-width: 500px;
  resize: vertical;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* .container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
} */

/* .card {
  padding: 1rem;
  box-shadow: 5px 5px 10px rgb(180, 190, 194);
  border: 1px solid rgb(191, 180, 180);
  border-radius: 5px;
  background-color: snow;
} */
/* New CSS */

.background {
  object-fit: cover;
  margin: 0 auto;
  width: 100%;
  position: absolute;
}
:root {
  --blue: #0b0d17;
  --light-blue: #d0d6f9;
  --white: #fff;
}
.container {
  text-align: center;
  font-weight: normal;
}
.main {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
.customBackground {
  height: 100vh;
}
.currentTab {
  border-bottom: 3px solid white;
}
@media screen and (min-width: 768px) {
  .background {
    height: 120vh;
  }
  .customBackground {
    height: 140vh;
  }
}
@media screen and (min-width: 1440px) {
  .containerHome {
    display: flex;
  }
  .textContainer {
    width: 450px;
    margin: 241px 0 0 165px;
  }
  .customBackground {
    height: 110vh;
  }
}
